@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.banner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 0;
    width: 100%;
    height: auto;
    margin-top: 4rem;

    grid-template-areas:
        "text1 text1 imgA imgB"
        "text2 text2 imgC imgD";

    .item.a {
        grid-area: imgA;
    }

    .item.b {
        grid-area: imgB;
    }

    .item.c {
        grid-area: imgC;
    }

    .item.d {
        grid-area: imgD;
    }

    .item.e {
        @include m.flex (row, nowrap, center, center, 0);
        grid-area: text1;
        color: #80ff00;
        text-align: center;
        padding: 20px;
        z-index: 10;
        perspective: 900px;
        transform-style: preserve-3d;
        transition: transform 3.5s ease;
        transform: translateZ(25px);
        &:hover {
            transform: rotateX(15deg) rotateY(25deg);
        
        }
    }

    .item.f {
        grid-area: text2;
        @include m.flex (column, nowrap, center, center, 0);
        color: #80ff00;
        text-align: center;
        z-index: 10;

        .productos-boton {
            background-color: aliceblue;
            color: black;
            border: none;
            border-radius: 10px;
            padding: 0.5rem 2rem;
            margin: 2rem;
            transition: all 0.3s ease;

            &:hover {
                background-color: #adff2f;
                color: black;
                transform: translateY(-5px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            }
        }

    }
    @include m.mobile {

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "text1 text1"
            "text2 text2"
            "imgA imgB"
            "imgC imgD";
            margin-top: 2rem;
}

.img-banner {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    }
}