@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.header {
    h1 {
        @include m.flex (column, nowrap, center, center, 0);
        text-align: center;
        margin-top: 5rem;
        font-family: v.$fuenteSecundaria;
    }
}

main {
    .col {
        .card {
            height: 100%;
            margin-bottom: 20px;
            border: none;
            overflow: hidden;
            

            .card-img-top {
                height: 300px;
                object-fit: cover;
                object-position: top;
                transition: transform 1s ease;
                transform-origin: center;
                &:hover {
                    transform: scale(1.1);
                }
            }

            .card-body {
                padding: 1rem;
                background-color: black;
                @include m.flex (column, nowrap, center, center, 0);
                text-align: center;

                .card-title {
                    color: v.$colorPrincipal;
                    font-family: v.$fuenteSecundaria;
                }

                .card-text {
                    font-size: 1.5rem;
                    font-family: v.$fuenteSecundaria;
                }

                .bot-prod {
                    height: 50px;
                    margin: 5px;
                    width: 120px;
                    background: #333;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    cursor: pointer;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    font-family: Consolas, Courier New, monospace;
                    border: solid #404c5d 1px;
                    font-size: 16px;
                    color: rgb(161, 161, 161);
                    -webkit-transition: 500ms;
                    transition: 500ms;
                    border-radius: 5px;
                    background: linear-gradient(145deg, #2e2d2d, #212121);
                    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
                        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
                    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
                        inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
                }

                button:hover {
                    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
                    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
                    color: #d6d6d6;
                    -webkit-transition: 500ms;
                    transition: 500ms;
                }

                button:active {
                    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
                    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
                    color: #d6d6d6;
                    -webkit-transition: 100ms;
                    transition: 100ms;
                }

            }
        }
    }
    @include m.mobile {
        padding-left: 10%;
        padding-right: 10%;
        animation: none;
    }
    
    @include m.tablet {
        padding-left: 10%;
        padding-right: 10%;
        animation: none;
    }
}

