@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald;
  color: aliceblue;
}

body {
  background-image: url(../assets/fondo.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.active {
  background-color: grey;
  color: aliceblue;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 40px;
}
.footer .redes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.footer .redes .logos {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin-bottom: 30px;
}
.footer .redes .rs {
  list-style: none;
  text-decoration: none;
}
.footer .redes img.logos {
  height: 50px;
  width: auto;
  margin: 0;
}
.footer .redes img.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 6vh;
  width: auto;
}
.footer .contenedor-textos {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.footer .contenedor-textos .derechos {
  color: beige;
  font-size: 1.2rem;
  font-family: Audiowide;
}
.footer .contenedor-textos .creador {
  color: beige;
  font-size: 1.2rem;
  font-family: Audiowide;
}
@media (min-width: 561px) and (max-width: 968px) {
  .footer .redes {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 560px) {
  .footer .contenedor-textos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
    gap: 15px;
    width: 100%;
    font-size: 0.9rem;
  }
}

.header .navbar {
  width: 100%;
}
.header .navbar .container-fluid .navbar-brand img.logoNav {
  width: auto;
  height: 20vh;
  transform: rotateX(20deg) rotateX(10deg);
  transition: 0.5s;
}
.header .navbar .container-fluid .navbar-brand img.logoNav:hover {
  transform: rotateX(0deg) rotateY(0deg);
}
@media (min-width: 561px) and (max-width: 968px) {
  .header {
    height: auto;
    width: 100%;
  }
  .header h1 {
    font-size: 20px;
  }
  .header .navbar .container-fluid .navbar-brand img.logoNav {
    width: auto;
    height: 10vh;
  }
}
@media (min-width: 300px) and (max-width: 560px) {
  .header {
    height: auto;
    width: 100%;
  }
  .header h1 {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .header .navbar .container-fluid .navbar-brand img.logoNav {
    width: auto;
    height: 10vh;
  }
}

.banner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 0;
  width: 100%;
  height: auto;
  margin-top: 4rem;
  grid-template-areas: "text1 text1 imgA imgB" "text2 text2 imgC imgD";
}
.banner .item.a, .banner .item.b, .banner .item.c, .banner .item.d {
  overflow: hidden;
  position: relative;
}
.banner .item.a .img-banner, .banner .item.b .img-banner, .banner .item.c .img-banner, .banner .item.d .img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease !important;
  display: block;
}
.banner .item.a:hover .img-banner, .banner .item.b:hover .img-banner, .banner .item.c:hover .img-banner, .banner .item.d:hover .img-banner {
  transform: scale(1.2);
}
.banner .item.a {
  grid-area: imgA;
}
.banner .item.b {
  grid-area: imgB;
}
.banner .item.c {
  grid-area: imgC;
}
.banner .item.d {
  grid-area: imgD;
}
.banner .item.e {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  grid-area: text1;
  color: #80ff00;
  text-align: center;
  padding: 20px;
  z-index: 10;
  perspective: 900px;
  transform-style: preserve-3d;
  transition: transform 3.5s ease;
  transform: translateZ(25px);
}
.banner .item.e:hover {
  transform: rotateX(15deg) rotateY(25deg);
}
.banner .item.f {
  grid-area: text2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: #80ff00;
  text-align: center;
  z-index: 10;
}
.banner .item.f p {
  font-size: 2rem;
}
.banner .item.f .productos-boton {
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin: 2rem;
  transition: all 0.3s ease;
}
.banner .item.f .productos-boton:hover {
  background-color: #80ff00;
  color: black;
  transform: translateY(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
@media (min-width: 300px) and (max-width: 560px) {
  .banner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "text1 text1" "text2 text2" "imgA imgB" "imgC imgD";
    margin-top: 2rem;
  }
  .banner .item.a,
  .banner .item.b,
  .banner .item.c,
  .banner .item.d,
  .banner .item.e,
  .banner .item.f {
    transition: none !important;
    transform: none !important;
  }
  .banner .item.a .img-banner,
  .banner .item.b .img-banner,
  .banner .item.c .img-banner,
  .banner .item.d .img-banner,
  .banner .item.e .img-banner,
  .banner .item.f .img-banner {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: none !important;
    transform: none !important;
  }
  .banner .item.f h1 {
    font-size: 1.5rem;
  }
  .banner .item.f p {
    font-size: 15px;
  }
}
@media (min-width: 561px) and (max-width: 968px) {
  .banner {
    grid-template-rows: 1fr 1fr;
  }
  .banner .item.f h1 {
    font-size: 2rem;
  }
  .banner .item.f p {
    font-size: 15px;
  }
}

.main-formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 100vh;
  padding: 20px;
}
.main-formulario .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-size: 1.5rem;
  color: black;
}
.main-formulario .formulario input {
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
}
.main-formulario .formulario input:focus {
  background-color: rgb(170, 146, 146);
  color: black;
}
.main-formulario .formulario #comments {
  color: black;
}

.nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  align-content: center;
}
.nosotros p.historia {
  font-size: 2rem;
  color: aliceblue;
  padding: 0.5rem;
  margin: 2rem;
  margin-top: 4rem;
}
.nosotros img.benjayagus {
  height: 50vh;
  width: 50vh;
  margin: 100px;
  border-radius: 75px;
}
.nosotros .link {
  font-size: 2rem;
  color: rgb(70, 5, 131);
  padding: 0.5rem;
  margin: 2rem;
}
@media (min-width: 300px) and (max-width: 560px) {
  .nosotros p.historia {
    font-size: 1rem;
  }
  .nosotros img.benjayagus {
    height: 35vh;
    width: 35vh;
  }
  .nosotros .link {
    font-size: 1rem;
  }
}

.header h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  margin-top: 5rem;
  font-family: Audiowide;
}

main .col .card {
  height: 100%;
  margin-bottom: 20px;
  border: none;
  overflow: hidden;
}
main .col .card .card-img-top {
  height: 300px;
  object-fit: cover;
  object-position: top;
  transition: transform 1s ease;
  transform-origin: center;
}
main .col .card .card-img-top:hover {
  transform: scale(1.1);
}
main .col .card .card-body {
  padding: 1rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
}
main .col .card .card-body .card-title {
  color: aliceblue;
  font-family: Audiowide;
}
main .col .card .card-body .card-text {
  font-size: 1.5rem;
  font-family: Audiowide;
}
main .col .card .card-body .bot-prod {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}
main .col .card .card-body button:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}
main .col .card .card-body button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
@media (min-width: 300px) and (max-width: 560px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
    animation: none;
  }
}
@media (min-width: 561px) and (max-width: 968px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
    animation: none;
  }
}

/*# sourceMappingURL=styles.css.map */
